* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 65vh;
}

li {
    cursor: pointer;
}

#modal {
    height: fit-content;
    width: 45vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    color: red;
    font-size: 14px;
}

.bang2,
td,
tr {
    padding-right: 300px;
}